@using FuncionarioMod.Models
@model FuncionarioModel
@{
    ViewData["Title"] = "Criar Funcionário";
}
<div class="text-center">

<h1 class="display-4">Cadastrar Funcionário</h1>

</div>

<form asp-controller="Funcionario"asp-action="Criar" method="post"> 

  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text"asp-for="Nome" class="form-control" placeholder="Digite o Nome">
  </div>

  <div class="form-group">
    <label for="CPF">CPF</label>
    <input type="text"asp-for="CPF" class="form-control" placeholder="Digite o CPF">
  </div>

<div class="form-group">
    <label for="PIS">PIS</label>
    <input type="text"asp-for="PIS" class="form-control" placeholder="Digite o PIS">
  </div>

  <div class="form-group">
    <label for="Sexo">Sexo</label>
    <input type="text"asp-for="Sexo" class="form-control" placeholder="Digite o Sexo">
  </div>

  <div class="form-group">
    <label for="Salario">Salário</label>
    <input type="text" asp-for="Salario" class="form-control" placeholder="Digite o salário">
  </div>
  
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text"asp-for="email" class="form-control" placeholder="Digite o e-mail">
  </div>

  <div class="form-group">
    <label for="Data">Data de Admissão</label>
    <input type="text" asp-for="data" class="form-control" placeholder="Digite a data de admissão">
  </div>
  <br />
  <button type="submit" class="btn btn-primary w-100">Adicionar</button>
  <br />
  <a class="btn btn-secondary w-100" asp-controller="Funcionario" asp-action="Index" role="button">Voltar</a>
</form>